# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# OSM & Temporary caches
cache/
.pytest_cache/

# OS specific
.DS_Store
Thumbs.db

# Databases & local state
*.db
*.sqlite
*.sqlite3
